h1 {
    color: white;
}

h3 {
    color: white;
}

body {
    background-image: url("https://www.pexels.com/photo/956999/download/");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}